<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SIMPLIFIED_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="SIMPLIFIED_STDOUT"/>
    </root>

    <logger name="akka.management.cluster.bootstrap" level="INFO" additivity="false">
        <appender-ref ref="SIMPLIFIED_STDOUT"/>
    </logger>

</configuration>